.container {
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        max-width: none;
        width: 768px;
        padding: 0 20px;
    }

    @media screen and (min-width: 1440px) {
        max-width: none;
        width: 1440px;
        padding: 0 80px;
    }
}