@import "../../styles/common/vars";

.hero {
    position: relative;
  padding-top: 115px;
  padding-bottom: 115px;
  background-image:  linear-gradient(to top, rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.6)),url("/src/assets/images/rpm-hero-l.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.pageHeader {
    font-size: 36px;
    font-weight: 600;
color: $primary-white-color;
margin-bottom: 20px;
}
.btn {
    height: 50px;
    padding: 5px 20px;
}