

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.visible {
  transform: translateY(0);
}
.btn {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: red;
  border: 1px solid transparent;
  border-radius: 0;
  font-family: inherit;
  // transition: background-color $transition,
  //   border-color $transition;

  // &:hover,
  // &:focus {
  //   background-color: $hover-color;
  // }
  // &:active {
  //   border: 1px solid rgba($color: $hover-color, $alpha: 0.5);
  // }
}
