@import "../../styles/common/vars";
.mobile {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 40px;

    overflow: auto;
    z-index: 20;
    transform: translateX(101vw);
    transition: trasform $transition;
    background-color: $main-color;

}

.visible {
    transform: translateY(0)
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}