@import "../../styles/common/vars";

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-bottom: 1px solid white;

    @media screen and (min-width: 1440px) {
      flex-direction: row;
      gap: 20px;
            padding-bottom: 0;
            border-bottom: none;
            font-size: 16px;
    }
  }
  .li {
    height: 50px;
     padding-top: 15px;
    padding-bottom: 15px;
    &:hover {

      color: $hover-color;
      border-bottom: 2px solid $hover-color;
    }
  }